{% load static %}
{% load i18n %}
<div class="card">
    <div class="header">
        <h1>{% translate 'Datenschutzerklärung' %}</h1>
    </div>
    <div class="main legalify">
        <p>
            <span class="bold">{% translate '1. Verantwortliche Stelle' %}</span><br>
            Gian Erler<br>
            Schweiz<br>
            <br>
            Enissa Schwab<br>
            Schweiz<br>
            <br>
            Michelle Morandi<br>
            Schweiz<br>
            <br>
            Cyrill Weibel<br>
            Schweiz<br>
        </p>
        <p>
            <span class="bold">{% translate '2. Zweck der Datenverarbeitung' %}</span><br>
            {% translate 'Dieses Projekt ist ein rein schulisches Vorhaben und dient ausschliesslich zu Bildungszwecken. Wir erheben und verarbeiten personenbezogene Daten nur in dem Umfang, der für die Nutzung dieser Webapplikation erforderlich ist.' %}
        </p>
        <p>
            <span class="bold">{% translate '3. Erhobene Daten' %}</span><br>
            <span class="bold">- {% translate 'Server-Log Dateien' %}:</span>{% translate ' Beim unserer Webapplikation werden automatisch Informationen durch den Webserver in sogenannten Log-Dateien gespeichert. Diese beinhalten die IP-Adresse, den Browsertyp, das Betriebssystem, die Refferrer-URL, potenziell teile des Browserverlauf, sowie das Datum und die Uhrzeit des Zugriffs. Diese Daten werden nicht weitergegeben.' %}<br>
            <span class="bold">- {% translate 'Cookies' %}:</span>{% translate ' Diese Webapplikation verwendet keine nicht-technische Cookies.' %}
        </p>
        <p>
            <span class="bold">{% translate '4. Rechtsgrundlage' %}</span><br>
            {% translate 'Die Verarbeitung der genannten Daten erfolgt gemäss Art. 6 Abs. 1 lit. f DSGVO, wobei unser berechtigtes Interesse darin besteht, eine funktionsfähige und benutzerfreundliche Webapplikation zu betreiben.' %}
        </p>
        <p>
            <span class="bold">{% translate '5. Dauer der Speicherung' %}</span><br>
            {% translate 'Personenbezogene Daten werden nur so lange gespeichert, wie dies für die Erreichung der hier genannten Zwecken erforderlich ist, jedoch maximal für eine Dauer von 10 Jahre.' %}
        </p>
        <p>
            <span class="bold">{% translate '6. Weitergabe an Dritte' %}</span><br>
            {% translate 'Es erfolgt keine Weitergabe personenbezogener Daten an Dritter.' %}
        </p>
        <p>
            <span class="bold">{% translate '7. Rechte der betroffenen Personen' %}</span><br>
            {% translate 'Sie haben das Recht, Auskunft über die von uns verarbeiteten personenbezogenen Daten erhalten, sowie die Berichtigung, Löschung oder Einschränkung der Verarbeitung zu verlangen. Zudem können Sie der Verarbeitung Ihrer personenbezogenen Daten widersprechen. Bitte wenden Sie sich dazu an die oben angegebene Kontaktadresse.' %}
        </p>
        <p>
            <span class="bold">{% translate '8. Änderung der Datenschutzerklärung' %}</span><br>
            {% translate 'Wir behalten uns vor, diese Datenschutzerklärung zu ändern, um sie an aktuelle rechtliche Anforderungen oder Änderungen unserer Leistungen anzupassen. Die jeweils aktuelle Fassung ist jederzeit auf dieser Webapplikation abrufbar.' %}
        </p>
    </div>
    <div class="action">
        {% if request.user.is_authenticated %}
            {% if not request.user.legaluser.privacy %}
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn-form-action">{% translate "Zustimmen" %}</button>
        </form>
            {% endif %}
        {% endif %}
    </div>
</div>
