@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
    padding: 0;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

* {
    font-family: 'Quicksand', sans-serif;
}

main {
    background-color: #F5F5F5;
    height: 100%;
    margin-top: 48px;
    margin-bottom: 48px;
    display: flex;
    padding-top: 92px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

input[type="checkbox"] {
    accent-color: #00A843;
  }

.mobile-only {
    display: None;
}

.swiss {
    color: red;
    font-weight: bold;
    font-size: 0.75rem;
    display: grid;
    grid-template-columns: 1fr 32px;
    grid-template-rows: 16px 16px;
    grid-column-gap: 8px;
    grid-template-areas:
        "swiss-top swiss-logo"
        "swiss-bottom swiss-logo";
}

.swiss .swiss-top {
    grid-area: swiss-top;
    display: flex;
    justify-content: end;
    align-items: center;
}

.swiss .swiss-bottom {
    grid-area: swiss-bottom;
    display: flex;
    justify-content: end;
    align-items: center;
}

.swiss .swiss-logo {
    grid-area: swiss-logo;
    display: flex;
}

.swiss .swiss-logo img {
    height: 100%;
    width: 100%;
}

.card {
    margin: 0 auto;
    background-color: white;
    max-width: 320px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(79, 56, 56, 0.1) 0px 4px 12px;
}

.card .profile-container {
    display: flex;
    justify-content: center;
    padding: 16px;
}

.card .profile-container .profile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px;
    grid-template-areas:
        "picture"
        "name";
    grid-row-gap: 16px;
}

.card .profile-container .profile .picture {
    grid-area: picture;
    filter: invert(42%) sepia(1%) saturate(1546%) hue-rotate(316deg) brightness(103%) contrast(81%);
}

.card .profile-container .profile .picture img {
    height: 100%;
    width: 100%;
}

.card .profile-container .profile .name {
    grid-area: name;
}

.card .profile-container .profile .name .title {
    color: black !important;
    font-weight: bold;
    font-size: 1.2rem;
}

.card .profile-container .profile .name p {
    margin: 0;
    display: flex;
    justify-content: center;
}

.card .stat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "friends achievements";
}

.card .social-action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "request block";
    margin-bottom: 16px;
}

.card .social-action .request {
    grid-area: request;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .social-action .block {
    grid-area: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .stat .friends {
    grid-area: friends;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card .stat .achievements {
    grid-area: achievements;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card .stat .friends .title, .card .stat .achievements .title {
    color: black;
    font-weight: bold;
    margin: 2px;
}

.card .header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.card .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
    padding: 0 32px;
}

.card .main .item_food {
    height: 48px;
    display: grid;
    grid-template-columns: 48px 1fr;
}

.card .main .item_food .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .main .item_food .icon img {
    height: 32px;
    width: 32px;
}

.card .main .item_food .p_container {
    display: flex;
    align-self: center;
}

.card .legalify-bottom {
    padding-bottom: 32px;
}

.card .legalify p, .card ul, .card ul li {
    font-size: 0.7rem;
}

.bold {
    font-weight: bold;
}

.card .action {
    padding: 16px 32px;
}

.card h1 {
    padding: 16px 0;
    font-size: 1.1rem;
}

.card p, .card form input, .card ul, .card ul li, .card select, .card form select, .card form textarea, .card textarea {
    color: #717171;
    font-size: 0.8rem;
}

.card .search input {
    width: 100%;
}

.card a, .legal a {
    color: #686EFF;
    text-decoration: none;
}

.card form input, .card form select, .card form textarea {
    height: 32px;
    border: none;
    background-color: #F5F5F5;
    padding: 0 8px;
    border-radius: 5px;
}

.card form textarea {
    padding: 8px;
}

.card form button, .search form button {
    background-color: #BEBEBE;
    border: none;
    border-radius: 5px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    font-weight: bold;
}

.card form button img, .search form button img {
    filter: invert();
    width: 24px;
    height: 24px;
}

.legal {
    margin: auto 0 0 0;
    padding: 8px 32px;
    bottom: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 32px 32px;
    grid-gap: 8px;
}

.legal a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BEBEBE;
    color: white;
    font-weight: bold;
    font-size: 0.75rem;
    border-radius: 5px;
}

.button {
    font-size: 0.8rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    border: none;
    font-weight: bold;
    width: 100%;
}

.button:disabled {
    background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
}

.mt-2 {
    margin-top: 8px;
}

.color-white {
    color: white !important;
}

.color-green {
    color: #00A843;
}

.color-red {
    color: #A70000 !important
}

.color-gray {
    color: #717171;
}

.background-gray {
    background-color: #BEBEBE;
}

.background-orange {
    background-color: #FF8A00;
}

.background-red {
    background-color: #A70000 !important;
}

.background-light-red {
    background-color: #FF0000;
}

.background-green {
    background-color: #00A843 !important;
}

.background-cyan {
    background-color: #008CAB;
}

.background-brown {
    background-color: #C85400;
}

.background-beige {
    background-color: #D3BF78;
}

.background-olive {
    background-color: #5F8B00;
}


.notes {
    margin: 0 auto;
    max-width: 302px;
    width: 100%;
    display: grid;
    grid-row-gap: 16px;

    .note {
        width: 100%;
        text-decoration: none;
        color: black;
    }

    .note .header {
        height: 48px;
        display: flex;
        align-items: center;
        padding: 0 8px;
        font-weight: bold;
    }

    .note .main {
        padding: 8px;
        min-height: 256px;
    }

    .gray {
        .header {
            background-color: #C9C9C9;
        }

        .main {
            background-color: #E0E0E0;
        }
    }

    .red {
        .header {
            background-color: #FF9E9E;
        }

        .main {
            background-color: #FFBBBB;
        }
    }

    .orange {
        .header {
            background-color: #FFC19E;
        }

        .main {
            background-color: #FFD7BB;
        }
    }

    .yellow {
        .header {
            background-color: #FFE49E;
        }

        .main {
            background-color: #FFF0BB;
        }
    }

    .green {
        .header {
            background-color: #97F99B;
        }

        .main {
            background-color: #BBFFBD;
        }
    }

    .cyan {
        .header {
            background-color: #97F9ED;
        }

        .main {
            background-color: #BBFFFB;
        }
    }

    .blue {
        .header {
            background-color: #97D6F9;
        }

        .main {
            background-color: #BBE6FF;
        }
    }

    .purple {
        .header {
            background-color: #E597F9;
        }

        .main {
            background-color: #F1BBFF;
        }
    }
}

.categories {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 46px;
    max-width: 302px;
}

.categories .category {
    background-color: white;
    width: 128px;
    height: 128px;
    border-radius: 10px;
    box-shadow: rgba(79, 56, 56, 0.1) 0px 4px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.categories .category-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px 24px;
    grid-template-areas:
        "icon"
        "name";
    grid-row-gap: 8px;
}

.categories .category .category-grid .icon {
    grid-area: icon;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories .category .category-grid .name {
    grid-area: name;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.sections, .personal {
    margin: 0 48px;
}

.sections .title, .personal .title {
    font-weight: bold;
}

.foods, .lists, .items, .tasks {
    padding: 0 16px;
    margin-bottom: 64px;
}

.foods .food {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(79, 56, 56, 0.1) 0px 4px 12px;
    display: flex;
    margin: 16px 0;
    padding: 0 0 0 16px;
    color: #717171;
    height: 64px;
    display: grid;
    grid-template-columns: 1fr 64px;
}

.shared_users .shared_user {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(79, 56, 56, 0.1) 0px 4px 12px;
    display: flex;
    margin: 16px 0;
    color: #717171;
    height: 64px;
    display: grid;
    grid-template-columns: 64px 1fr 64px;
    grid-template-rows: 8px 24px 24px 8px;
    grid-template-areas:
        ". . ."
        "icon name checkbox"
        "icon username checkbox"
        ". . .";
    text-decoration: none;
}

.search_users .search_user {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(79, 56, 56, 0.1) 0px 4px 12px;
    display: flex;
    margin: 16px 0;
    color: #717171;
    height: 64px;
    display: grid;
    grid-template-columns: 64px 1fr 64px;
    grid-template-rows: 8px 24px 24px 8px;
    grid-template-areas:
        ". ."
        "icon name"
        "icon username"
        ". .";
    text-decoration: none;
}

.notifications .notification {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(79, 56, 56, 0.1) 0px 4px 12px;
    display: flex;
    margin: 16px 0;
    color: #717171;
    display: grid;
    grid-template-columns: 64px 1fr 1fr 64px;
    grid-template-rows: 8px 24px 24px 48px 8px;
    grid-template-areas:
        ". . ."
        "icon name name"
        "icon username username"
        "icon accept decline"
        ". . .";
    text-decoration: none;
}

.lists .list {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(79, 56, 56, 0.1) 0px 4px 12px;
    display: flex;
    margin: 16px 0;
    color: #717171;
    height: 64px;
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-template-rows: 8px 24px 24px 8px;
    grid-template-areas:
        ". ."
        "icon name"
        "icon owner"
        ". .";
    text-decoration: none;
}

.notifications .notification .accept {
    grid-area: accept;
    margin-top: 8px;
    margin-right: 8px;
    text-decoration: none;
    font-size: 0.8rem;
}

.notifications .notification .decline {
    grid-area: decline;
    margin-top: 8px;
    margin-left: 8px;
    text-decoration: none;
    font-size: 0.8rem;
}

.notifications .notification .accept p,
.notifications .notification .decline p {
    margin: 0;
}

.lists .list .name,
.shared_users .shared_user .name,
.search_users .search_user .name,
.notifications .notification .name {
    grid-area: name;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.lists .list .icon,
.shared_users .shared_user .icon,
.search_users .search_user .icon,
.notifications .notification .icon {
    grid-area: icon;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: invert(42%) sepia(1%) saturate(1546%) hue-rotate(316deg) brightness(103%) contrast(81%);
}

.lists .list .icon img,
.shared_users .shared_user img,
.search_users .search_user img,
.notifications .notification img {
    height: 32px;
    width: 32px;
}

.lists .list .owner {
    grid-area: owner;
    display: flex;
    align-items: center;
}

.shared_users .shared_user .username,
.search_users .search_user .username,
.notifications .notification .username {
    grid-area: username;
    display: flex;
    align-items: center;
}

.shared_users .shared_user .checkbox {
    grid-area: checkbox;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shared_users .shared_user .checkbox input {
    height: 32px;
    width: 32px;
}

.tasks .task-grid .task {
    grid-area: task;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(79, 56, 56, 0.1) 0px 4px 12px;
    display: flex;
    align-items: center;
    color: #717171;
    height: 64px;
    text-decoration: none;
    padding: 0 16px;
}


.items .item-grid {
    display: grid;
    grid-template-columns: 1fr 64px;
    grid-template-rows: 1fr;
    grid-template-areas:
        "item checkbox";
    grid-column-gap: 16px;
    margin: 16px 0;
}

.tasks .task-grid {
    display: grid;
    grid-template-columns: 1fr 64px;
    grid-template-rows: 1fr;
    grid-template-areas:
        "task checkbox";
    grid-column-gap: 16px;
    margin: 16px 0;
}

.items .item-grid .item {
    grid-area: item;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(79, 56, 56, 0.1) 0px 4px 12px;
    display: flex;
    color: #717171;
    height: 64px;
    display: grid;
    grid-template-columns: 64px 24px 1fr;
    grid-template-rows: 8px 24px 24px 8px;
    grid-template-areas:
        ". . ."
        "quantity category name"
        "quantity unit unit"
        ". . .";
    text-decoration: none;
    grid-column-gap: 8px;
}

.items .item-grid .checkbox,
.tasks .task-grid .checkbox {
    grid-area: checkbox;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items .item-grid .checkbox input,
.tasks .task-grid .checkbox input {
    width: 100%;
    height: 100%;
}

.items .item .quantity {
    grid-area: quantity;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -8px;
    margin-bottom: -8px;
    border-radius: 10px 0 0 10px;
    color: white;
    font-weight: bold;
}

.items .item .name {
    grid-area: name;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.items .item .unit {
    grid-area: unit;
    display: flex;
    align-items: center;
}

.items .item .category-item {
    grid-area: category;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items .item .category-item img {
    height: 16px;
    width: 16px;
}

.foods .food .name {
    display: flex;
    align-items: center;
}

.foods .food .button {
    height: 100%;
    width: 100%;
    border-radius: 0 10px 10px 0;
}

.foods .food .background-green img {
    filter: invert();
    height: 32px;
    width: 32px;
}

.search {
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
    height: auto;
}

.search .grid {
    display: grid;
    grid-template-columns: 1fr 32px;
}

.search .grid input {
    height: 32px;
    border: none;
    background-color: white;
    padding: 0 8px;
    border-radius: 5px;
}

.sharing .sharing-user {
    margin-left: 16px;
    font-size: 0.8rem;
    color: #717171;
}

@media only screen and (min-width: 750px) {
    .mobile-only {
        z-index: 1;
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #ffbeb3;
    }

    .mobile-only .message {
        margin: 128px auto auto auto;
        background-color: white;
        padding: 16px;
        border-radius: 10px;
        width: 500px;
    }

    .mobile-only .title {
        font-size: 1.5rem;
    }

    .mobile-only p {
        display: flex;
        justify-content: center;
    }

}

.authentication-app-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.authentication-app-logo img {
    height: 96px;
    width: 96px;
}
