header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-rows: 48px;
    grid-template-columns: 48px auto 1fr 48px;
    grid-template-areas:
        "icon-left title . icon-right";
}

header .icon-left {
    grid-area: icon-left;
}

header .icon-left .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

header .icon-left .icon img {
    height: 32px;
    width: 32px;
}

header .title {
    grid-area: title;
    font-weight: bold;
}

header .icon-right {
    grid-area: icon-right;
    filter: invert(42%) sepia(1%) saturate(1546%) hue-rotate(316deg) brightness(103%) contrast(81%);
    display: flex;
    align-items: center;
    justify-content: center;
}

header .icon-right img {
    width: 24px;
    height: 24px;
}
