{% load static %}
{% load i18n %}
<div class="sections">
    {% for section in sections %}
    <div class="section">
        <p class="title">{{ section.name }}</p>
        <div class="foods">
        {% for food in foods %}
            {% if food.section == section %}
            <div class="food">
                <div class="name">
                    <p>{{ food.name }}</p>
                </div>
                <a class="button background-green" href="{% url 'select_lists' food.pk %}">
                    <img src="{% static 'svgs/plus.svg' %}" height="100%"/>
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
