{% load static %}
{% load i18n %}
{% load static %}
{% load i18n %}
<div class="personal">
    <p class="title">{% translate 'Einkaufsliste' %}</p>
    <div class="items">
    {% for item in items %}
        <div class="item-grid">
            <a href="{% url 'item_update' item.pk %}" class="item">
                <div class="quantity
                {% if item.food.section.category.name == "Gemüse" %}background-orange{%endif%}
                {% if item.food.section.category.name == "Früchte" %}background-light-red{%endif%}
                {% if item.food.section.category.name == "Fisch" %}background-cyan{%endif%}
                {% if item.food.section.category.name == "Fleisch" %}background-brown{%endif%}
                {% if item.food.section.category.name == "Milch / Eier" %}background-beige{%endif%}
                {% if item.food.section.category.name == "Öle" %}background-olive{%endif%}
                ">
                    <p>{{ item.quantity }}</p>
                </div>
                <div class="name">
                    <p>{{ item.food.name }}</p>
                </div>
                <div class="unit">
                    <p>{{ item.unit_per_item }}{{ item.unit }}</p>
                </div>
                <div class="category-item">
                    <img src="{% static 'svgs/category/' %}{{ item.food.section.category.icon }}.svg" alt="{{ item.food.section.category.icon }}" height="100%"/>
                </div>
            </a>
            <div class="checkbox">
                <input type="checkbox" id="item_{{ item.pk }}" name="item_{{ item.pk }}" {% if item.status %}checked{% endif %}
                       data-item-id="{{ item.pk }}" class="status-checkbox">
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="sharing">
        <p>{% translate 'Erstellt von' %}:</p>
        <p class="sharing-user">- {{ shopping_list.owner.first_name }} {{ shopping_list.owner.last_name }} (@{{ shopping_list.owner.username }})</p>
    </div>
    <div class="sharing">
        <p>{% translate 'Geteilt mit' %}:</p>
        {% for user in shopping_list.shared_with.all %}
            <p class="sharing-user">- {{ user.first_name }} {{ user.last_name }} (@{{ user.username }})</p>
        {% empty %}
            <p class="sharing-user color-red">- {% translate 'Nicht geteilt' %}</p>
        {% endfor %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const checkboxes = document.querySelectorAll('.status-checkbox');
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function () {
                const itemId = this.dataset.itemId;
                const isChecked = this.checked;

                const data = new URLSearchParams();
                data.append(`item_${itemId}`, isChecked ? 'on' : 'off');

                fetch("{% url 'list' shopping_list.pk %}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    body: data.toString()
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Netzwerkantwort war nicht ok');
                    }
                })
                .catch(error => {
                    console.error('Fehler:', error);
                    alert("Es ist ein Fehler aufgetreten.");
                });
            });
        });
    });

</script>
