{% load static %}
{% load i18n %}
<div class="personal">
    <div>
        <p class="title">{% translate 'Zu erledigen' %}</p>
        <div class="tasks">
            {% for task in tasks_to_do %}
            <a href="{% url 'task_update' task.pk %}" class="task">
                <p>{{ task.text }}</p>
            </a>
            {% endfor %}
        </div>
    </div>
    <div>
        <p class="title">{% translate 'In Bearbeitung' %}</p>
        <div class="tasks">
            {% for task in tasks_in_progress %}
            <a href="{% url 'task_update' task.pk %}" class="task">
                <p>{{ task.text }}</p>
            </a>
            {% endfor %}
        </div>
    </div>
    <div>
        <p class="title">{% translate 'Erledigt' %}</p>
        <div class="tasks">
            {% for task in tasks_done %}
            <a href="{% url 'task_update' task.pk %}" class="task">
                <p>{{ task.text }}</p>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
