{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/footer.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
        <title>{% translate 'Home' %}</title>
    </head>
    <body>
        {% include 'components/header/system.html' with icon_right="plus" icon_right_url="task_create" %}
        <main>
            {% include 'components/grid/task.html' %}
            {% include 'components/cards/legal.html' %}
        </main>
        {% include 'components/footer/system.html' with page="notes" %}
    </body>
