{% load static %}
{% load i18n %}

<footer class="{% if request.user.is_authenticated %}footer-authenticated{% else %}footer-unauthenticated{% endif %}">
    <div class="home">
        <a href="{% url 'home' %}" class="icon">
            {% if page == 'home' %}
            <img src="{% static 'svgs/home.svg' %}" height="100%"/>
            {% else %}
            <img src="{% static 'svgs/home-outline.svg' %}" height="100%"/>
            {% endif %}
        </a>
    </div>
    <div class="search">
        <a href="{% url 'search' %}" class="icon">
            {% if page == 'search' %}
                <img src="{% static 'svgs/account-search.svg' %}" height="100%"/>
            {% else %}
                    <img src="{% static 'svgs/account-search-outline.svg' %}" height="100%"/>
            {% endif %}
        </a>
    </div>
    <div class="notifications">
        <a href="{% url 'notifications' %}" class="icon">
            {% if page == 'notifications' %}
                <img src="{% static 'svgs/bell.svg' %}" height="100%"/>
            {% else %}
                    <img src="{% static 'svgs/bell-outline.svg' %}" height="100%"/>
            {% endif %}
        </a>
    </div>
    <div class="account">
        <a href="{% url 'account' %}" class="icon">
            {% if page == 'account' %}
                <img src="{% static 'svgs/account-circle.svg' %}" height="100%"/>
            {% else %}
                    <img src="{% static 'svgs/account-circle-outline.svg' %}" height="100%"/>
            {% endif %}
        </a>
    </div>
</footer>
