{% load static %}
{% load i18n %}
<header>
    <div class="icon-left">
        {% if icon_left %}
            {% if icon_left == "shopping" %}
            <div class="icon shopping">
                <img src="{% static 'svgs/shopping.svg' %}" alt="{{ icon_left }}" height="100%"/>
            </div>
            {% else %}
                <div class="icon">
                <img src="{% static 'svgs/category/' %}{{ icon_left }}.svg" alt="{{ icon_left }}" height="100%%"/>
                </div>
            {% endif %}
        {% else %}
            <img src="{% static 'images/logo_groceries_list.jpeg' %}" height="100%"/>
        {% endif %}
    </div>
    {% if title %}
        <div class="title">
        <p>{{ title }}</p>
        </div>
    {% endif %}
    {% if share %}
        <a href="{% url icon_share_url icon_share_pk %}" class="icon-share">
            <img src="{% static 'svgs/share-variant.svg' %}" height="100%"/>
        </a>
    {% endif %}
    {% if icon_right == "pencil" %}
        {% if icon_right_url and icon_right_pk %}
            <a href="{% url icon_right_url icon_right_pk %}" class="icon-right">
                <img src="{% static 'svgs/pencil.svg' %}" height="100%"/>
            </a>
        {% endif %}
    {% elif icon_right == 'plus' %}
        {% if icon_right_url %}
        <a href="{% url icon_right_url %}" class="icon-right">
            <img src="{% static 'svgs/plus.svg' %}" height="100%"/>
        </a>
        {% endif %}
    {% elif icon_right == 'cog' %}
        {% if icon_right_url %}
        <a href="{% url icon_right_url %}" class="icon-right">
            <img src="{% static 'svgs/cog.svg' %}" height="100%"/>
        </a>
        {% endif %}
    {% else %}
        <a href="{% url 'lists' %}" class="icon-right">
        <img src="{% static 'svgs/shopping.svg' %}" height="100%"/>
        </a>
    {% endif %}
</header>
